@import "tailwindcss";

/* globals.css */
::-webkit-scrollbar {
  width: 4px;

}



::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 2.5px;
  max-height: 40px; 
}


@theme inline {
 
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background-color: #000D1F;
  backdrop-filter: blur(125px);
 
}
